.container {
  display: flex;
  align-items: flex-start;
}

.svg-container {
  flex: 1;
  position: sticky;
  top: 0;
}

.list-container {
  flex: 1;
  overflow-y: auto;
  height: 90vh;
}

.no-markers {
  list-style: none;
}

ul {
  list-style: none;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.selected {
  background-color: lightgreen;
}

li {
  margin-bottom: 5px;
}

.segment-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.segment-point-container {
  margin-right: 20px;
}

.segment-input {
  display: block;
  margin: 5px auto;
  padding: 5px;
  width: 80px;
}
